@media only screen and (min-width: 1025px) and (max-width: 1921px) {
    .test1 {
        width: 50%;
    }
    .content{
        width: 50%;

    }

}
@media only screen and (min-width:321px) and (max-width: 1024px) {

}

@media only screen and (max-width: 320px) {
    .test1 {
        width: 100%;
    }
    
    .content{
        width: 100%;
    }

}

.h1{
    font: serif;
}

.p{
    font: arial;
}